.reviews__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    height: 100%;
}

.reviews__item {
    flex: 1 1 25%;
    margin: 0;
    position: relative;
    line-height: 0;
    height: 50%;
    background: center no-repeat;
    background-size: cover;
    filter: grayscale(100%);

    @include tablets {
        flex-basis: 50%;
        height: 25%;
    }

    &-img {
        width: 100%;
    }

    & .reviews__item-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        background: rgba(0,0,0,0.5);
        opacity: 0;
        transition: opacity linear .5s;
        padding: 16% 7%;
        font-size: rem(14px);
        line-height: 1.7;

        @include tablets {
            text-align: center;
            padding: 8% 10%;
        }
    }

    &:hover .reviews__item-content {
        opacity: 1;
    }

    &-author {
        font-family: 'Gagalin';
        margin-bottom: rem(20px);

        @include tablets {
            margin-bottom: rem(8px);
        }
    }

    &-text {
        margin-bottom: rem(20px);

        @include tablets {
            margin-bottom: rem(30px);
        }
    }
}

.reviews__btn .link-more {
    @include button($gray);
}